<div class="container">
	<div class="container clearfix">
      <div class="row row-offcanvas row-offcanvas-left ">
        <!--Bagian Kiri-->
        <div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
          	<h2>Riku Kiranatama</h2>
            <%= image_tag "u.jpg", height: 204, width: 204, class: "img-circle" %>
          </div>
        </div>

        <!--Bagian Kanan-->
        <div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
         <div class="panel-body">
           <table  class="table table-hover table-striped display" >
             <tbody>
               <tr>
                 <td><b>Nama</b></td>
                 <td>Riku Kiranatama</td>
               </tr>
               <tr>
                 <td><b>Tempat, Tanggal Lahir</b></td>
                 <td>Jakarta, 22 November 1999</td>
               </tr>
               <tr>
                 <td><b>Jenis Kelamin</b></td>
                 <td>Wanita</td>
               </tr>
               <tr>
                 <td><b>Alamat Domisili</b></td>
                 <td>Jl. Mampang Prapatan no.12</td>
               </tr>
             </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
    </div>
